<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
  label: Email Subscriptions Confirmation Page
-->
{% extends "./blank.html" %}

{% block body %}
  <script type="text/javascript">
    const translations = {{ translations|tojson }};
  </script>

  {# this is here in case we some day have access to the original requests query vars #}
  {# also set some defaults according to our translations in case no JS or something #}
  {% set language = request.query_dict["languagePreference"]|default("fi") %}
  {% set language = language[0:2] %}
  {% set translation = translations[language].email_subscriptions_confirmation %}
  
  <div class="content-wrapper">
    <div class="systems-page">
      {% email_subscriptions_confirmation "email_subscriptions_confirmation"
        header="{{ translation.header }}",
        subheader_text="{{ translation.subheader_text }}",
        unsubscribe_all_success="{{ translation.unsubscribe_all_success }}",
        subscription_update_success="{{ translation.subscription_update_success }}"
        %}
    </div>
  </div>
{% endblock body %}

{{ require_js(get_asset_url('./system.js'), { position:'footer' }) }}
